.container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

.main {
    margin: 100px 0;
    width: 100%;
  }

  .name {
    font-family: 'DM Serif Display', serif;
    text-transform: lowercase;
    font-size: 60px;
    display: block;
  }
  
  .body {
    display: flex;
    flex-wrap: wrap;
  }

  .projectsList {
      display: flex;
      justify-content: flex-start;
  }

  .project {
      width: 300px;
      height: 200px; 
      border: 1px solid black;
      margin-right: 20px;
  }

  .projectTitle {
    font-family: 'DM Serif Display', serif;
    text-transform: lowercase;
    font-size: 60px;
    display: block;
  }

  @media screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
    
    .name {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .projectsList {
        flex-direction: column;
    }

    .project {
        width: 100%;
        margin-bottom: 20px;
    }
  }