html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-wrapper {
  min-height: 100vh;
}

.content-wrapper {
  min-height: 100vh;
  z-index: -1;
}

.nav {
  z-index: 100;
}
