.container {
  min-height: 90vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  position: relative;
}

.name {
  font-family: 'DM Serif Display', serif;
  text-transform: lowercase;
  font-size: 60px;
}

.subtitles {
  display: flex;
  flex-wrap: wrap;
}

.accent {
  color: red;
}

@media screen and (max-width: 600px) {
  .name {
    font-size: 30px;
  }
}
