/* menu toggle button */
.menuToggle {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    position: absolute;
    top: 30px;
    left: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}