/* menu toggle button */
.menuToggle {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    position: absolute;
    top: 5vh;
    right: 2vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.navList {
    position: absolute;
    top: 8vh;
    right: 3vw;
    text-align: right;
    list-style: none;
}

.navContainer {
    opacity: 0.5;
}

.homeButton {
    position: absolute;
    left: 3vw;
    top: 3vh;
    font-family: 'DM Serif Display', serif;
    font-size: 35px;
    color: red;
}

.socialsListWrapper {
    opacity: 0.5;
}

.socialsList {
    display: flex;
    list-style: none;
    position: absolute;
    top: 90vh;
    right: 3vw;
}

.socialsListItem {
    margin-right: 10px;
}